.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 5px;
  position: absolute;
  z-index: 100;
  background-color: rgb(255 255 255 / 64%);
}

.logo {
  display: flex;
  align-items: center;
  width: 140px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13%;
  padding-right: 15px;
  & a {
    text-decoration: none;
    color: rgb(0 0 0);
  }
}
