<div class="container">

  <div class="link-index">
    <a href="/index">Retour index</a>
  </div>

  <div class="tabs-container">

    <div class="tabs-content">
      <div class="tabs active" data-dashboard="1">Informations</div>
      <div class="tabs" data-dashboard="2">Créer une fiche disparu(e)</div>
      <div class="tabs" data-dashboard="3">Mes fiches</div>
    </div>

    <div class="content activeContent" data-dashboard="1">
      <h3>Infos user</h3>
      <hr>
    </div>

    <div class="content activeContent" data-dashboard="2">
      <h3>réutiliser le formulaire pour création de disparition</h3>
      <hr>
    </div>

    <div class="content activeContent" data-dashboard="3">
      <h3>répertorie les fiches crées par le user</h3>
      <hr>
    </div>
  </div>
</div>
