@import '../app.component.scss';

.container-dashboard {
  height: 100vh;
  padding: 10% 3% 0 3%;
  .cont-aside {
    width: 88% !important;
    padding-top: 40%;
    box-shadow: 4px 10px 17px 0px rgb(0 0 0 / 9%);
  }
  .link-aside {
    font-size: 15px !important;
  }
  .btn-cont {
    background-color: #f1f1f1;
    .btn-save {
      background-color: #87b97a
    }
  }
  .button-bck {
    margin-left: 10%;
  }
  .container-infos {
    margin-left: 19%;
  }
  .title-infos {
    margin-bottom: 1%;
  }
  .content-infos {
    display: flex;
    flex-wrap: wrap;
  }
  .field-infos {
    width: 50%;
  }
  .field-photo {
    width: 100%;
  }
}
