@import '../app.component.scss';

html, body {
  margin: 0 !important;
}

.container-dashboard {
  height: 100vh;
  padding: 7% 3%;
  & .cont-aside {
    width: 88% !important;
    padding-top: 30%;
  }
  & .cont-infos {
    margin-left: 17%;
  }
  & .link-aside {
    font-size: 15px !important;
  }
  & .btn-cont {
    background-color: #f1f1f1;
    & .btn-save {
      background-color: #87b97a
    }
  }
}
