.container-page {
  padding-bottom: 6%;

  .cont-img,
  img {
    height: 100%;
  }

  .card-link {
    width: 100%;
    margin-top: 5%;
    .field-disappearance {
      margin-bottom: 2px;
    }
  }

  .cont-img,
  img {
    height: 100%;
  }
}



