<div class="container">

  <a class="nav-links" routerLink="#">Créer une fiche disparition</a>

  <div class="card-container" *ngFor="let post of posts">
    <!-- Données dynamiques à terme -->
    <div class="card">
      <div class="card-picture">
        <a href="#"><img class="logo" src="../../assets/jane-do.png" alt="The logo of Missing website"></a>
      </div>

      <div class="card-content">
        <span>{{ post.firstname }}</span>
        <span>{{ post.lastname }}</span>
        <span>{{ post.birthDate }}</span>
        <span>{{ post.dateOfDisappearance }}</span>
        <span>{{ post.placeOfDisappearance }}</span>
        <span>{{ post.description }}</span>
      </div>

    </div>
  </div>

</div>
