<div class="container">

  <p class="side-icon" (click)="toggleSidebar()"> >SideBar </p>
  <a class="side-link" routerLink="#">Créer une fiche disparition</a>

  <ng-sidebar-container>
    <ng-sidebar [opened]="opened">
      <!-- Sidebar -->
      <p>Hello</p>
      <button (click)="toggleSidebar()">
        Close
      </button>
      <ul>
        <li><a class="nav-links" routerLink="/dashboard">Tableau de bord</a></li>
      </ul>
    </ng-sidebar>

    <!-- Page content -->
    <div class="container-page" ng-sidebar-content>
      <div class="card-container" *ngFor="let post of posts">
        <!-- Données dynamiques à terme -->
        <div class="card">
          <div class="card-picture">
            <a href="#"><img class="logo" src="../../assets/jane-do.png" alt="The logo of Missing website"></a>
          </div>

          <div class="card-content">
            <span>{{ post.firstname }}</span>
            <span>{{ post.lastname }}</span>
            <span>{{ post.birthDate }}</span>
            <span>{{ post.dateOfDisappearance }}</span>
            <span>{{ post.placeOfDisappearance }}</span>
            <span>{{ post.description }}</span>
          </div>

        </div>
      </div>
    </div>

  </ng-sidebar-container>



</div>
